<div class="row">
  <div class="form-group col-md-12" style="text-align: center">
    <h2>Add Option</h2>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <input type="text" class="form-control" [(ngModel)]="option.name" placeholder="Name"/>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <input type="text" class="form-control" [(ngModel)]="option.imageUrl" placeholder="Image URL"/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn pull-right" [ngClass]="btnType" (click)="addButtonClicked()">Add</button>
  </div>
</div>
